<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/SachinPawaskarUNO/SachinPawaskarUNO.github.io">WeChart</a></strong>
			- WeChart - is a web application that will streamline and expedite the handing of emenrgency care patients. The initial objective is to build an app that will allow medical students to triage patients and their instructors to provide feedback digitally. This will replace the current labor intensive paper process being used at UNMC. 

			The WeChart application uses the Laravel web application framework. Documentation for the framework can be found on the Laravel website.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/SachinPawaskarUNO/SachinPawaskarUNO.github.io">TAGG - Together a Greater Good</a></strong>
			- TAGG was created to provide businesses a unique way to build loyalty and create marketing opportunities through giving back and supporting the local community. Build a web application that will streamline and track all donation requests in one place and facilitate donor organizations with clients that are in need of donations. 

			The TAGG application uses the Laravel web application framework. Documentation for the framework can be found on the Laravel website.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/SachinPawaskarUNO/SachinPawaskarUNO.github.io">Mav Basic</a></strong>
			- The UNO - MavBasic web application attempts to take the pain out of development by providing common basic functionality such as Authentication, User Management, etc.

			The MavBasic application uses the Laravel web application framework. Documentation for the framework can be found on the Laravel website.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://github.com/SachinPawaskarUNO/SachinPawaskarUNO.github.io">CoRA - Commingled Remains Analyics</a></strong>
			- The goal of this project is to build a system that would help make the process of inventorying and cataloguing skeletal elements easier and give forensic anthropologists the capabilities and tools to perform reporting and advanced analytics.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="https://github.com/SachinPawaskarUNO/SachinPawaskarUNO.github.io">IoT Analytics</a></strong>
			- The goal of this project is to build a system that will provide the capability to collect information from IoT devices with sensors directly into the cloud and perform Big Data Analytics on this data. A web application will be built to provide reporting, analytics and visualization of this data, along with administrative capabilites such as management of devices, users, etc.
		</h5>
    </div>
  </div>
</div>
</section>
